.venv/
logs/dbt.log
DjangoMart/DjangoMartApp/migrations/__pycache__/
DjangoMart/DjangoMartApp/__pycache__/
DjangoMart/DjangoMartApp/migrations/
DjangoMart/DjangoMart/__pycache__/
DjangoMart/DjangoMartApp/views/__pycache__/
DataLake/SQLite3/