.venv/
logs/dbt.log
DjangoMart/DjangoMartApp/migrations/__pycache__/
DjangoMart/DjangoMartApp/__pycache__/
DjangoMart/DjangoMartApp/__pycache__/models.cpython-312.pyc
DjangoMart/DjangoMartApp/__pycache__/views.cpython-312.pyc
DjangoMart/DjangoMartApp/migrations/
DjangoMart/DjangoMart/__pycache__/
