{% extends "DjangoMartApp/layout.html" %}

{% block title %}
    {{category}}
{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-1 ml-2">
                Categories
            </div>
            <div class="col">
                <div class="container mb-5">
                    {% for product in products %}
                    <div class="card" style="width: 18rem;">
                        <a href="{% url 'product' product.id %}">
                            <svg aria-label="Placeholder: Image cap" class="bd-placeholder-img card-img-top" height="180" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#868e96">
                                </rect>
                                <text x="40%" y="50%" fill="#dee2e6" dy=".3em">
                                    Image cap
                                </text>
                            </svg>
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <p class="card-text">{{product.price}} P Tokens</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    {% if products.has_previous %}
                        <a class="btn btn-light" href="?page={{ products.previous_page_number }}">Previous</a>
                    {% endif %}

                    {% for num in products.paginator.page_range %}
                        {% if num == 1 or num == products.paginator.num_pages %}
                            {% if num == products.number %}
                                <span class="btn btn-outline-light active">{{ num }}</span>
                            {% else %}
                                <a class="btn btn-outline-light" href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% elif num == products.number %}
                            <span class="btn btn-outline-light active">{{ num }}</span>
                        {% elif num >= products.number|add:"-2" and num <= products.number|add:"2" %}
                            <a class="btn btn-outline-light" href="?page={{ num }}">{{ num }}</a>
                        {% elif num == products.number|add:"-3" or num == products.number|add:"3" %}
                            <span class="btn btn-outline-light disabled">...</span>
                        {% endif %}
                    {% endfor %}

                    {% if products.has_next %}
                        <a class="btn btn-light" href="?page={{ products.next_page_number }}">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}