{% extends 'DjangoMartApp/layout.html' %}

{% load static %}

{% block title %}
    Checkout
{% endblock %}


{% block body %}
<div class="row mt-3">
    <div class="col">
        {% if delivery_destinations %}
            {% for destination in delivery_destinations %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <span id="city">{{delivery.city}}</span> - <span id="street">{{delivery.street}}</span> <span id="streetNum">{{delivery.street_number}}</span>
                        </h5>
                        <p class="card-text">Phone: <span id="phoneNum">{{delivery.phone_number}}</span></p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="dropdown">
                <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Add an address
                </button>
                <form class="dropdown-menu p-4">
                    <div class="mb-3">
                        <label for="dropdownCity" class="form-label">City</label>
                        <input class="form-control" id="dropdownCity">
                    </div>
                    <div class="mb-3">
                        <label for="dropdownStreet" class="form-label">Street</label>
                        <input class="form-control" id="dropdownStreet" >
                    </div>
                    <div class="mb-3">
                        <label for="dropdownStreetNumber" class="form-label">Street Number</label>
                        <input class="form-control" id="dropdownStreetNumber" >
                    </div>
                    <div class="mb-3">
                        <label for="dropdownPhoneNumber" class="form-label">Phone Number</label>
                        <input class="form-control" id="dropdownPhoneNumber" >
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary" id="saveAddressBtn" >Save address</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
    <div class="col">
        total + checkout button 
    </div>
</div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto" id="toastMessage"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toastBody">
            </div>
        </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'DjangoMartApp/checkout.js' %}"></script>
{% endblock %}