{% extends 'DjangoMartApp/layout.html' %}

{% load static %}

{% block title %}
    Checkout
{% endblock %}


{% block body %}
<div class="row mt-3">
    <div class="col">
        <h4 class="mb-3"><span class="border text-success border-success border-2 rounded p-1">Select delivery address</span></h4>
        <div class="container" id="addressesContainer" data-addressCount="{{delivery_details_provided_count}}">
            {% if delivery_destinations %}
                {% for destination in delivery_destinations %}
                <div class="card mb-3 text-bg-warning" style="width: 18rem;">
                        <div class="card-body addressCard rounded" data-id="{{destination.id}}">
                            <h5 class="card-title">
                                <span id="city">{{destination.city}}</span> - <span id="street">{{destination.street}}</span> <span id="streetNum">{{destination.street_number}}</span>
                            </h5>
                            <p class="card-text">Phone: <span id="phoneNum">{{destination.phone_number}}</span></p>
                        </div>
                        <button class="btn btn-outline-danger deleteAddressBtn" 
                        data-id="{{destination.id}}">
                            ❌
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% if delivery_details_provided_count < 3 %}
            <div class="dropdown" id="addressDropdown">
        {% else %}
            <div class="dropdown" id="addressDropdown" style="display: none;">
        {% endif %}
            <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                Add an address
            </button>
            <form class="dropdown-menu p-4" id="addressMenu">
                <div class="mb-3">
                    <label for="dropdownCity" class="form-label">City</label>
                    <input class="form-control" id="dropdownCity">
                </div>
                <div class="mb-3">
                    <label for="dropdownStreet" class="form-label">Street</label>
                    <input class="form-control" id="dropdownStreet" >
                </div>
                <div class="mb-3">
                    <label for="dropdownStreetNumber" class="form-label">Street Number</label>
                    <input class="form-control" id="dropdownStreetNumber" >
                </div>
                <div class="mb-3">
                    <label for="dropdownPhoneNumber" class="form-label">Phone Number</label>
                    <input class="form-control" id="dropdownPhoneNumber" >
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-primary" id="saveAddressBtn" >Save address</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col">
        <h4 class="mb-3"><span class="text-success">TOTAL: {{cart_total_value}}</span></h4>
        {% if can_afford_cart %}
            <h4 class="mb-3"><span class="text-success">Tokens after purchase: {{balance_after_purchase}}</span></h4>
            <form action="{% url 'checkout' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="addressID" name="addressID" value="">
                <button type="submit" class="btn btn-outline-success" id="checkoutBtn" style="display: none">Confirm order</button>
            </form>
        {% else %}
            <h4 class="mb-3"><span class="text-danger">Insufficient tokens available. Current balance: {{available_tokens}}</span></h4>
        {% endif %}
    </div>
</div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto" id="toastMessage"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toastBody">
            </div>
        </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'DjangoMartApp/checkout.js' %}"></script>
{% endblock %}

{% block templates %}
<template id="addressTemplate">
    <div class="card mb-3 text-bg-warning" style="width: 18rem;">
        <div class="card-body addressCard rounded">
            <h5 class="card-title">
                <span id="city"></span> - <span id="street"></span> <span id="streetNum"></span>
            </h5>
            <p class="card-text">Phone: <span id="phoneNum"></span></p>
        </div>
        <button class="btn btn-outline-danger deleteAddressBtn">
            ❌
        </button>
    </div>
</template>
{% endblock %}