{% extends "DjangoMartApp/layout.html" %}

{% load static %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Delivery
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <div class="h3">Status: {{delivery.status}}</div>        
        <div class="h3">Total: {{delivery.purchase.total_price}}</div>        
        <div class="h3">Placed on: {{delivery.created_date}}</div>        
        {% if delivery.delivered_date is not None %}
            <div class="h3">Placed on {{delivery.delivered_date}}</div>
        {% endif %}
        <div class="h3">Order items:</div>        
        {% for purchase_item in delivery.purchase.purchase_items.all %}
            <div class="h3">
                {{purchase_item.product_name}} x {{purchase_item.quantity}}
            </div>
            <div class="h3">
                {{purchase_item.price_at_purchase}}
            </div>
                {% if item.review %}
                    {% for i in "12345"|make_list %}
                        {% if forloop.counter <= item.review.rating %}
                            <i class="bi bi-star-fill star" data-value="1"></i>
                        {% else %}
                            <i class="bi bi-star star" data-value="1"></i>
                    {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="d-flex gap-2">
                        <i class="bi bi-star star" data-value="1"></i>
                        <i class="bi bi-star star" data-value="2"></i>
                        <i class="bi bi-star star" data-value="3"></i>
                        <i class="bi bi-star star" data-value="4"></i>
                        <i class="bi bi-star star" data-value="5"></i>
                    </div>
                {% endif %}
        {% endfor %}
    </div>
    <div class="col">
        <div class="h3">{{delivery.city}}</div>
        <div class="h3">{{delivery.street}} - {{delivery.street_number}}</div>
        <div class="h3">{{delivery.phone_number}}</div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'DjangoMartApp/delivery.js' %}"></script>
{% endblock %}

