{% extends "DjangoMartApp/layout.html" %}

{% load static %}

{% load math_functions %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Delivery
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <div class="h3">Status: {{delivery.status}}</div>        
        <div class="h3">Total: {{delivery.purchase.total_price}}</div>        
        <div class="h3">Placed on: {{delivery.created_date}}</div>        
        {% if delivery.delivered_date is not None %}
            <div class="h3">Placed on {{delivery.delivered_date}}</div>
        {% endif %}
        <div class="h3">Order items:</div>        
        {% for purchase_item in delivery.purchase.purchase_items.all %}
            <div class="container border border-success border-1 rounded mb-3 p-3">
                <div class="h3">
                    <a href="{% url 'product' purchase_item.product.id %}">{{purchase_item.product_name}} x {{purchase_item.quantity}}</a>
                </div>
                <div class="h3">
                    Price per item: {{purchase_item.price_at_purchase}} - total: {{ purchase_item.price_at_purchase|multiply:purchase_item.quantity }}
                </div>
                {% comment %}
                {% if delivery.status == 'Delivered' %}
                {% endcomment %}
                    {% if purchase_item.review %}
                        Your review - 
                        <button type="button" class="btn btn-outline-success btn-sm" data-reviewid="{{purchase_item.review.id}}">
                            Edit review
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" id="deleteReviewBtn" data-reviewid="{{purchase_item.review.id}}">
                            Delete review
                        </button>
                        <div class="d-flex gap-2">
                            {% for i in "12345"|make_list %}
                                {% if forloop.counter <= purchase_item.review.rating %}
                                    <i class="bi bi-star-fill text-warning star" id="starGroup{{purchase_item.id}}" data-value="{{forloop.counter}}"></i>
                                {% else %}
                                    <i class="bi bi-star star" id="starGroup{{purchase_item.id}}" data-value="{{forloop.counter}}"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <textarea class="form-control" id="comment{{purchase_item.id}}" rows="4" placeholder="Write your review here" disabled>
                            {{ purchase_item.review.comment }}
                        </textarea>
                        <button type="button" class="btn btn-outline-success" id="saveReviewBtn" data-itemid="{{purchase_item.id}}" style="display: none">
                            Save review
                        </button>
                    {% else %}
                        <div class="d-flex gap-2">
                            <i class="bi bi-star star" id="starGroup{{purchase_item.id}}" data-value="1"></i>
                            <i class="bi bi-star star" id="starGroup{{purchase_item.id}}" data-value="2"></i>
                            <i class="bi bi-star star" id="starGroup{{purchase_item.id}}" data-value="3"></i>
                            <i class="bi bi-star star" id="starGroup{{purchase_item.id}}" data-value="4"></i>
                            <i class="bi bi-star star" id="starGroup{{purchase_item.id}}" data-value="5"></i>
                        </div>
                        <div class="mb-3">
                        <label for="message" class="form-label">Review</label>
                        <textarea class="form-control" id="comment{{purchase_item.id}}" rows="4" placeholder="Write your review here"></textarea>
                        </div>
                        <button type="button" class="btn btn-outline-success" id="saveReviewBtn" data-itemid="{{purchase_item.id}}">
                            Save review
                        </button>
                    {% endif %}
                {% comment %}
                {% endif %}
                {% endcomment %}
            </div>
        {% endfor %}
    </div>
    <div class="col">
        <div class="h3">{{delivery.city}}</div>
        <div class="h3">{{delivery.street}} - {{delivery.street_number}}</div>
        <div class="h3">{{delivery.phone_number}}</div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'DjangoMartApp/delivery.js' %}"></script>
{% endblock %}

