{% extends "DjangoMartApp/layout.html" %}

{% load static %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
{% endblock %}

{% block title %}
    {{product.title}}
{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{product.title}}</h2>
        {% for _ in ""|center:ratings.full_stars %}
            <i class="bi bi-star-fill text-warning star"></i>
        {% endfor %}
        {% if ratings.half_star %}
            <i class="bi bi-star-half text-warning star"></i>
        {% endif %}
        {% for _ in ""|center:ratings.empty_stars %}
            <i class="bi bi-star text-warning star"></i>
        {% endfor %}
        ({{product.rating_count}})
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <svg aria-label="Placeholder: Image cap" class="bd-placeholder-img card-img-top" height="180" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96">
                    </rect>
                    <text x="40%" y="50%" fill="#dee2e6" dy=".3em">
                        Image cap
                    </text>
                </svg>
            </div>
            <div class="col">
                {{product.description_html|safe}}
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-outline-light" id="addToCartBtn">Add to cart</button>
                <label for="quantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" id="quantity" name="quantity" value="1" min="1">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="h2">Recent reviews</div>
        {% for review in reviews %}
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{review.user.username}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        <div class="d-flex gap-2">
                            {% for i in "12345"|make_list %}
                                {% if forloop.counter <= review.rating %}
                                    <i class="bi bi-star-fill text-warning star"></i>
                                {% else %}
                                    <i class="bi bi-star star"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </h6>
                    <p class="card-text">{{review.comment}}</p>
                </div>
            </div>
        {% endfor %}
        <a href="{% url 'reviews' product.id %}">
            <button type="button" class="btn btn-outline-light">See all reviews</button>
        </a>
    </div>
    <input type="hidden" id="productId" value="{{ product.id }}">
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'DjangoMartApp/product.js' %}"></script>
{% endblock %}