body {
    background-color:#1E1E1E;
    color: #43D677;
}

.navbar, .button, .navbar-brand,
.nav-link, .dropdown-item, .nav-item,
.dropdown, .dropdown-menu, .offcanvas-title,
.offcanvas, .card, .card-title,
.card-text  {
  background-color:#3B3C3E !important;
  color: #43D677 !important;
}

a {
  color: #43D677;
  text-decoration: underline;
  text-decoration-color: #43D677; 
}

a:hover {
  color: #5DFB9B;
  text-decoration-color: #5DFB9B; 
}

.btn-outline-light:hover {
  background-color: #43D677 !important; 
  color: #fff !important;              
}

.btn-outline-light:active,
.btn-outline-light.active {
  color: #43D677 !important; 
  border-color: #43D677 !important;
  background-color: #3B3C3E !important; 
}

.form-control  {
  background-color:#3B3C3E !important;
  color: #43D677 !important;
  border-color: #43D677 !important;
}